$global-font-size: 14px !default;
$global-color: #313131;
$global-font-family: 'Roboto Slab', serif;
$base-link-hover-text-decoration: none;
$card-default-background: white;
$card-title-font-size: 2em;