{% extends 'base.html' %}

{% block title %}Корзина товаров - {{ block.super }}{% endblock %}

{% block meta_description %}Корзина товаров {{ block.super }}{% endblock %}

{% block content %}
    <article class="uk-container uk-container-large">
        <header>
            <h1 class="uk-text-center">Корзина товаров</h1>
        </header>
        <main>
            <section class="content">
                <cart-items></cart-items>
            </section>
        </main>
    </article>
{% endblock %}