{% extends 'base.html' %}
{% block title %}{{ shop.meta_title }}{% endblock %}
{% block content %}
    <div class="uk-container uk-container-large">
        {% for category in categories %}
            <a href="{% url 'category-detail' category.slug %}" title="{{ category.name }}">
                <h3 class="uk-heading-line"><span>{{ category.name }}</span></h3>
            </a>
            <product-short :category-id={{ category.id }}></product-short>
        {% endfor %}
        <section class="pub-content">
            <h1 class="uk-h1 uk-text-center">{{ shop.meta_title }}</h1>
            <div>
                {{ shop.content|safe }}
            </div>
        </section>
    </div>
{% endblock %}