{% extends 'base.html' %}
{% block title %}{{ shop.meta_title }}{% endblock %}
{% block content %}
    <div class="uk-container uk-container-large">
        <h3 class="uk-text-center">Наше меню</h3>
        <div class="uk-flex uk-flex-wrap uk-flex-center uk-grid-small uk-flex-middle">
            {% for category in categories %}
                <div class="uk-width-1-4@m uk-width-1-2 uk-text-center">
                    <a href="{% url 'category-detail' category.slug %}" title="{{ category.name }}">
                        {% if category.image %}
                            <div style="min-height: 240px">
                                <img src="{{ category.image.url }}" alt="{{ category.name }}"
                                style="object-fit: contain; width: 100%; height: 100%; vertical-align: center;">
                            </div>
                        {% endif %}
                        <h3 class="pub-color-heading"><span>{{ category.name }}</span></h3>
                    </a>
                </div>
            {% endfor %}
        </div>

        <section class="pub-content">
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <h1 class="uk-card-title uk-text-center">
                        {{ shop.meta_title }}
                    </h1>
                </div>
                <div class="uk-card-body">
                    {{ shop.content|safe }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}