{% extends 'base.html' %}

{% block title %}{{ page.meta_title }} - {{ block.super }}{% endblock %}

{% block meta_description %}{{ page.meta_description }}{% endblock %}

{% block content %}
    <article class="uk-container uk-container-large">
        <header>
            <h1 class="uk-text-center">{{ page.title }}</h1>
        </header>
        <main>
            <div class="uk-card uk-card-small uk-card-default uk-card-body">
                {{ page.content|safe }}
            </div>
        </main>
    </article>
{% endblock %}