<!DOCTYPE html>
{% load staticfiles %}
{% load webpack_loader %}
{% load solo_tags %}
{% load navigations %}
{% get_solo 'pub_main.Shop' as shop %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="language" content="RU">
    <title>{% block title %}{{ shop.name }}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'src/assets/img/favicon.png' %}">
    <meta name="robots" content="index,follow"/>
    <meta name="description" content="{% block meta_description %}{{ shop.meta_description }}{% endblock %}">
    <meta name="keywords" content="Роллы, суши, пицца, гирос, доставка, Темрюк, заказ, Sushi Pub">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    {% get_files 'app' 'js' as app_js_files %}
    {% get_files 'app' 'css' as app_css_files %}
    {% for js_file in app_js_files %}
        <link href="{{ js_file.url }}" rel="preload" as="script">
    {% endfor %}
    {% for css_file in app_css_files %}
        <link href="{{ css_file.url }}" rel="preload" as="style">
    {% endfor %}
    {% render_bundle 'app' 'css' %}
</head>
<body>
<div id="app">
    <header id="pub-site-header">
        {# desktop nav-bar #}
        <div class="uk-container uk-container-large uk-visible@s uk-visible@m pub-header">
            <nav class="uk-navbar uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left">
                    <a href="/" title="{{ shop.name }}" class="uk-navbar-item pub-logo uk-logo">
                        <img uk-svg src="{% static 'src/assets/img/pub-logo.svg' %}" alt="{{ shop.name }}">
                    </a>
                    <div>
                        {{ shop.address }}
                    </div>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav">
                        <li class="uk-text-center">
                            <h4 class="uk-margin-remove">{{ shop.get_primary_phone }}<br>
                                <small class="uk-text-muted uk-text-small">{{ shop.work }}</small>
                            </h4>
                        </li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        {% nav_menu_items 'header' %}
                    </ul>
                </div>
            </nav>
        </div>
        {# mobile nav-bar #}
        <div class="uk-container uk-container-expand uk-hidden@m pub-nav-mobile"
             uk-sticky="animation: uk-animation-slide-top">
            <nav class="uk-navbar uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-toggle" href="#" style="color: red;" uk-toggle="target: #offcanvas-push">
                        <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Меню</span>
                    </a>
                </div>
                <div class="uk-navbar-center">
                    <a href="/" title="{{ shop.name }}" class="uk-navbar-item uk-logo">
                        <img uk-svg src="{% static 'src/assets/img/pub-logo.svg' %}" alt="{{ shop.name }}">
                    </a>
                </div>
                <div class="uk-navbar-right">
                    <a href="{% url 'cart' %}" class="uk-navbar-item" style="min-height: 50px; padding: 0 25px">
                        <cart-button></cart-button>
                    </a>
                </div>
            </nav>
        </div>
    </header>
    <div uk-sticky="animation: uk-animation-slide-top" class="pub-category-nav uk-visible@s uk-visible@m">
        <nav class="uk-navbar uk-navbar-container uk-container uk-container-large pub-category-navbar" uk-navbar>
            <div class="uk-navbar-center">
                <ul class="pub-category-menu">
                    {% nav_menu_items 'top-bar' %}
                </ul>
            </div>
            <div class="uk-navbar-right">
                <a href="{% url 'cart' %}" class="uk-navbar-item" style="min-height: 50px; padding: 0 25px">
                    <cart-button></cart-button>
                </a>
            </div>
        </nav>
    </div>
    <div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                <li class="uk-active"><a href="#">Active</a></li>
            </ul>

        </div>

    </div>
    <main class="pub-main">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="uk-light">
        <div class="uk-padding-small uk-container uk-container-large">
            <div class="uk-flex uk-flex-center uk-flex-wrap uk-grid-small" uk-grid>
                <div class="uk-width-1-4@m">
                    <div class="uk-card uk-card-small uk-card-body">
                        <h3>Меню</h3>
                    </div>
                </div>
                <div class="uk-width-1-4@m">
                    <div class="uk-card uk-card-small uk-card-body">
                        <h3>{{ shop.name }}</h3>
                        <div>{{ shop.address }}</div>
                        <div>{{ shop.meta_description }}</div>
                    </div>
                </div>
                <div class="uk-width-1-4@m">
                    <div class="uk-card uk-card-small uk-card-body">
                        <h3>Информация</h3>
                        <ul class="uk-nav uk-nav-default">
                            {% nav_menu_items 'footer' %}
                        </ul>
                    </div>
                </div>
                <div class="uk-width-1-4@m">
                    <div class="uk-card uk-card-small uk-card-body">
                        <h3>Мы в соц. сетях</h3>
                    </div>
                </div>
                <div class="uk-width-1-1">
                    <div class="uk-text-center"
                         style="color: white; font-weight: bold; text-shadow: 0px 2px 3px #000;">{% now 'Y' %} г.
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
{% render_bundle 'app' 'js' %}
</body>
</html>