//SUSHI PUB THEME 2019
/* theme color */
$--color-primary: darkred;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

html, body {
  margin: 0;
  padding: 0;
}

header#pub-site-header {
  border-bottom: 1px solid #ddd;
  background-color: white;
}

.pub-nav-mobile {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1) !important;
  background: white !important;
}

.pub-category-nav {
  background: white !important;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1) !important;

  .pub-category-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    & > li > a {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      min-height: 60px;
      padding: 0 15px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

main.pub-main {
  padding: 20px 0;
  min-height: 60vh;
}

footer {
  background: #2b2a2a;
  border-top: 1px solid #dddddd;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23e87b7b' fill-opacity='0.1'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: white;
  text-shadow: 0px 2px 3px #000;
}

.pub-logo-sticky {
  display: none;
}

.pub-product-card {
  .pub-product-name {
    font: 700 18px/21px "Roboto Slab", "Times New Roman", serif;
  }

  .pub-product-price {
    font: 700 20px/36px 'Roboto Slab', 'Times New Roman', serif;
  }

  &:hover {
    .pub-product-ingridients {
      opacity: 1;
    }
  }

  .pub-product-btn {
    background: linear-gradient(to bottom, red, #bf0909);
    border-radius: 5px;
    color: white;
    box-shadow: 0px 5px 10px rgba(140, 140, 140, 0.74);
    border-bottom: 4px solid #6f0303;
    transition: all .3s ease-out;

    &:hover {
      border-bottom: 2px solid #6f0303;
      color: #dddddd;
      background: linear-gradient(to bottom, #d60000, #a90808);
      box-shadow: 0px 3px 5px rgba(140, 140, 140, 0.74);
    }
    &:active {
      border: 2px solid #6f0303;
      color: #dddddd;
      background: linear-gradient(to bottom, #d60000, #a90808);
      box-shadow: 0px 0px 5px rgba(140, 140, 140, 0.74);
    }
  }
}

.pub-product-cat-link {
  border: 1px solid #e21b22;
  background: white;
  color: #4a4a4a;
  transition: all .3s ease-out;

  &:hover {
    background: #92c73d;
    color: white;
    border: 1px solid #63a72f;
  }
}

.pub-title {
  margin: 0.3em 0 1em 0;
  font-size: 1.5em;
  color: #474A51;
  line-height: 25px;
}

.pub-product-ingridients {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity .3s ease-out;

  .pub-ig {
    color: white;
    padding: 5px 10px;
    background: linear-gradient(to bottom, #ff7820, #d20000);
    border-radius: 10px;
    margin: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
  }
}

.pub-cart-button {
  position: relative;
  cursor: pointer;
  .pub-cart-counter {
    position: absolute;
    top: -5px;
    left: 10px;
    background: red;
    border-radius: 100%;
    padding: 0px 4px;
    color: white;
    z-index: 1;
    font-size: xx-small;
  }
  .pub-cart-total {
    position: absolute;
    bottom: 9px;
    left: -28px;
    background: green;
    border-radius: 15%;
    padding: 0px 4px;
    color: white;
    z-index: 1;
    font-size: xx-small;
  }
}