//SUSHI PUB THEME 2019
/* theme color */
$--color-primary: darkred;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

html, body {
  margin: 0;
  padding: 0;
}

.pub-header {
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.pub-category-nav {
  background: white !important;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0,0,0,.1) !important;
  .pub-category-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    & > li > a {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      min-height: 60px;
      padding: 0 15px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

main {
  padding: 20px 0;
}

footer {
  min-height: 250px;
  background: #4a4a4a;
  border-top: 1px solid #dddddd;
}